# Node
frontend/node_modules/
node_modules/

# Artifacts
artifacts/
mlflow.db
*.db
*.npy
*.buffer
# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.egg-info/

# Data files - never commit raw or processed data
data/raw/
data/parquet/
*.csv
*.parquet
data/processed/
artifacts/
# Trained models
models/*.json
models/*.bin
models/*.pkl

# Jupyter checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log
*.sh
Miniconda3*
Miniconda3-latest-MacOSX-x86_64.sh
.env
